body {
    font-family: Arial;
    background: #f2f2f2;
    text-align: center;
}

form {
    margin: 20px auto;
    width: 300px;
}

input, button {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
}

table {
    margin: auto;
    width: 70%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
    padding: 8px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
}
